body {
    background: #111;
}



/* Header */

.header {
    position: sticky;
    background: #111;

}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0;
}

.header__logo img {
    max-height: 30px;
}

.header__navigation {

}

.header__navigation a {
    margin: 0 10px;
    color: #FFF;
    text-decoration: none;

}

.header__navigation a.active {
    color: #DE008D;
    text-decoration: underline;
}

.header__navigation a:last-of-type {
    margin: 0 0 0 10px;
}

.header__navigation a:hover {
    color: #444;
    text-decoration: underline;
}



/* Hero */

.hero {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: hidden;
}

.hero canvas {
    position: absolute;
    left: 0;
    top: -40%;
    width: 100% !important;
}

.hero__inner {
    margin: 0 auto;
    z-index: 3;
    width: 600px;
}


.hero__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #FFF;
}

.hero__subtitle {
    color: #FFF;
}

.hero__cta {
    max-width: 350px;
    display: block;
    margin: 20px auto 0;
    background-color: #FFF;
    color: #000;
    border-radius: 0px;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 30px 14px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#hero--home,
#hero--problem {
    position: absolute;
    height: 100%;
    width: 100%;    
    background-size: cover;
    background: #000;
}

#hero--home {

}

#hero--problem {
    background-image: url("../images/problem/MyNightSky_Space-Debris-in-orbit.jpg");
}

/* Title */

.title {
    padding: 80px 0;
    text-align: center;
    background: #111;
}

.title h2 {
    margin: 0 0 15px 0;
    font-size: 38px;
    line-height: 1.6;
    font-weight: 400;
    color: #EEE;
}

.title p {
    padding: 0 200px;
    font-size: 16px;
    line-height: 1.5;
    color: #EEE;
}

/* Points */

.points {
}



/* Footer */

.footer {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #EEE;
}
.footer small {
    float: right;
}

.footer__logo {
    max-height: 20px;
}
