<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MyNightSky</title>
        <link href="assets/styles/bootstrap.min.css" rel="stylesheet">
        <link href="assets/styles/main.css" rel="stylesheet">
        <link href="assets/styles/theme.css" rel="stylesheet">
    </head>
<body>

    <!-- Header -->
    <section class="header container">
        <a class="header__logo" href="index.html">
            <img src="assets/images/MyNightSky_Horizontal_Logotype_Dark_Color.svg" alt="">
        </a>
        <nav class="header__navigation">
            <a href="problem.html">The Problem</a>
            <a href="mission.html">Our Mission</a>
            <a class="active" href="team.html">Our Team</a>
            <a href="contact.html">Contact</a>
        </nav>
    </section>
    <!-- / -->

    <section class="title container">
        <h2>Our Team</h2>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    </section>

    <!-- Team -->
    <div :class="['container', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']" id="app">

      <div class="team-container">
        <div class="person-list">
          <div class="person" v-for="(person,index) in persons" @click="selectPerson(index,$event)"><img class="person-img" :src="person.photo">
            <div class="person-details">
              <h2 class="person-title">{{person.name}}</h2>
              <p class="person-desc">{{person.title}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="team-detail">
        <div class="team-detail-inner" v-if="isOk">
          <div class="team-detail-left" :style=`background-image:url(${selectedPersonData.photo})`>
            <div class="team-detail-photo"><img :src="selectedPersonData.photo" alt="">
            </div>
          </div>
          <div class="team-detail-right">
            <div class="team-detail-bio">
              <div class="team-detail-header">
                <h2 class="person-title">{{selectedPersonData.name}}</h2>
                <p class="person-desc">{{selectedPersonData.title}}</p>
                <div class="social">
                  <a :href="selectedPersonData.social.facebook" target="_blank" class="ion-social-facebook"></a>
                  <a :href="selectedPersonData.social.twitter" target="_blank" class="ion-social-twitter"></a>
                  <a href="selectedPersonData.social.linkedin" target="_blank" class="ion-social-linkedin"></a>
                </div>
              </div>
              <div class="team-detail-bio-content" v-html="selectedPersonData.bio">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- / -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
    <script src="js/team.js"></script>

</body>
</html>
