/* Header */

.header {
    display: flex;
    position: sticky;
    padding: 20px 0;
    background: #FFF;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header__logo img {
    max-height: 30px;
}

.header__navigation {

}

.header__navigation a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.header__navigation a.active {
    color: #DE008D;
    text-decoration: underline;
}

.header__navigation a:last-of-type {
    margin: 0 0 0 10px;
}

.header__navigation a:hover {
    color: #444;
    text-decoration: underline;
}



/* Hero */

.hero {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 550px;
    overflow: hidden;
}

.hero canvas {
    position: absolute;
    left: 0;
    top: -40%;
    width: 100% !important;
}

.hero__inner {
    margin: 0 auto;
    z-index: 3;
}


.hero__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #FFF;
}

.hero__subtitle {
    color: #FFF;
}

.hero__cta {
    background-color: #FFF;
    color: #000;
    border-radius: 0px;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 30px 14px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

/* Title */

.title {
    padding: 80px 0;
    text-align: center;
}

.title h2 {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 400;
}

.title p {
    padding: 0 200px;

    font-size: 16px;
    line-height: 1.5;
}

/* Points */

.points {
    background: #fafafa;
}



/* Footer */

.footer {
    display: flex;
    padding: 20px 0;
    background: #FFF;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__logo img {
    max-height: 25px;
}
