/* Header */

.site-header {
    padding: 10px 0;
    background: #FFF;
}

.header__logo {
    max-height: 40px;
}

/* Hero */

.hero {
    text-align: center;
    display: block;
    position: relative;
    padding: 150px 0 160px;
    overflow: hidden;
}

.hero::after {
  content: "";
  background-image: url('../images/hero.jpg');
  background-position: center;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.hero__inner {
    margin: 0 auto;
    z-index: 3;
}

.hero__outer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
}

.hero__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #FFF;
}

.hero__subtitle {
    color: #FFF;
}

.hero__cta {
    background-color: #FFF;
    color: #000;
    border-radius: 0px;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 30px 14px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

/* Footer */

.footer__logo {
    max-height: 30px;
    margin: 0 0 15px 0;
}
