/* Header */

.header {
    display: flex;
    position: sticky;
    padding: 20px 0;
    background: #FFF;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header__logo img {
    max-height: 30px;
}

.header__navigation {

}

.header__navigation a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.header__navigation a:last-of-type {
    margin: 0 0 0 10px;
}

.header__navigation a:hover {
    color: #444;
    text-decoration: underline;
}



/* Hero */

.hero {
    text-align: center;
    display: block;
    position: relative;
    padding: 200px 0 160px;
    height: 600px;
    overflow: hidden;
}

.hero canvas {
    height: 600px !important;
    width: 100% !important;
}

.hero__inner {
    margin: 0 auto;
    z-index: 3;
}

.hero__outer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
}

.hero__title {
    font-size: 3.5rem;
    font-weight: 300;
    color: #FFF;
}

.hero__subtitle {
    color: #FFF;
}

.hero__cta {
    background-color: #FFF;
    color: #000;
    border-radius: 0px;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 30px 14px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

/* Mission */

.mission {
    padding: 80px 200px;
}



/* Footer */

.footer {
    display: flex;
    padding: 20px 0;
    background: #FFF;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__logo img {
    max-height: 25px;
}
